<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qfedu.babyfood.dao.TDetailintegralMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.qfedu.babyfood.entity.TDetailintegral">
        <id column="detailIntegralId" property="detailIntegralId" />
        <result column="image" property="image" />
        <result column="source" property="source" />
        <result column="status" property="status" />
        <result column="num" property="num" />
        <result column="create_time" property="createTime" />
        <result column="remark" property="remark" />
        <result column="integralId" property="integralId" />
    </resultMap>

    <select id="getGainByUserID" parameterType="int" resultMap="BaseResultMap">
         select d.* from t_integral i JOIN t_user u
         on i.integralId = u.integralId
         join t_detailintegral d
         on i.integralId = d.integralId
         where u.userId = #{userId} and d.status=1;
    </select>

    <select id="getLoseByUserID" parameterType="int" resultMap="BaseResultMap">
         select d.* from t_integral i JOIN t_user u
         on i.integralId = u.integralId
         join t_detailintegral d
         on i.integralId = d.integralId
         where u.userId = #{userId} and d.status=0;
    </select>
    
    <select id="getAllByUserID" parameterType="int" resultMap="BaseResultMap">
         select d.* from t_integral i JOIN t_user u
         on i.integralId = u.integralId
         join t_detailintegral d
         on i.integralId = d.integralId
         where u.userId = #{userId};
    </select>

    <insert id="insertIntegral" parameterType="com.qfedu.babyfood.entity.TDetailintegral">
        insert into t_detailintegral
        <trim prefix="(" suffix=") " suffixOverrides=",">
            <if test="image !=null">
                image,
            </if>
            <if test="source !=null">
                source,
            </if>
            <if test="status !=null">
                status,
            </if>
            <if test="num !=null">
                num,
            </if>
            <if test="image !=null">
                image,
            </if>
            <if test="createTime !=null">
                createTime,
            </if>
            <if test="integralId !=null">
                integralId,
            </if>
        </trim>
        <trim prefix="values(" suffix=")" suffixOverrides=",">
            <if test="image !=null">
                #{image},
            </if>
            <if test="source !=null">
                #{source},
            </if>
            <if test="status !=null">
                #{status},
            </if>
            <if test="num !=null">
                #{num},
            </if>
            <if test="image !=null">
                #{image},
            </if>
            <if test="createTime !=null">
                #{createTime},
            </if>
            <if test="integralId !=null">
                #{integralId},
            </if>
        </trim>
    </insert>
</mapper>
