<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qfedu.babyfood.dao.TExperienceMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.qfedu.babyfood.entity.TExperience">
        <id column="experienceId" property="experienceId" />
        <result column="experience" property="experience" />
        <result column="userId" property="userId" />
        <result column="productId" property="productId" />
    </resultMap>

    <select id="queryExperienceByTypeName" parameterType="string" resultType="com.qfedu.babyfood.vo.VExperience">
        select p.productId, p.productImagId, p.productName, u.userId, u.userName, e.experienceId, e.experience, t.typeName from t_experience e
        inner join t_product p
        on e.productId=p.productId
        inner join t_user u
        on e.userId=u.userId
        inner join t_product_brand_type pbt
        on p.productId = pbt.productId
        inner join t_type t
        on pbt.typeId=t.typeId
        where t.typeName = #{typeName}
    </select>

    <select id="queryExperienceByProductId" parameterType="int" resultType="com.qfedu.babyfood.vo.VExperience">
        select p.productId, p.productImagId, p.productName, u.userId, u.userName, e.experienceId, e.experience, t.typeName from t_experience e
        inner join t_product p
        on e.productId=p.productId
        inner join t_user u
        on e.userId=u.userId
        inner join t_product_brand_type pbt
        on p.productId = pbt.productId
        inner join t_type t
        on pbt.typeId=t.typeId
        where p.productId=#{productId}
    </select>

    <select id="queryExperienceByUserId" resultType="com.qfedu.babyfood.vo.VExperience">
        select p.productName, e.experience, t.typeName from t_experience e
        inner join t_product p
        on e.productId = p.productId
        inner join t_product_brand_type pbt
        on p.productId=pbt.productId
        inner join t_type t
        on pbt.typeId=t.typeId
        where e.userId = #{userId}
        <if test="typeName != null">
            and t.typeName = #{typeName}
        </if>
    </select>

</mapper>
