<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qfedu.babyfood.dao.TKnowledgeMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.qfedu.babyfood.entity.TKnowledge">
        <id column="knowledgeId" property="knowledgeId" />
        <result column="knowledgeTitle" property="knowledgeTitle" />
        <result column="knowledgeContext" property="knowledgeContext" />
        <result column="knowledgeUrl" property="knowledgeUrl" />
    </resultMap>

    <select id="queryAll" resultType="com.qfedu.babyfood.entity.TKnowledge">
        select * from t_knowledge
    </select>

</mapper>
