<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qfedu.babyfood.dao.TProductimageMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.qfedu.babyfood.entity.TProductimage">
        <id column="productImagId" property="productImagId" />
        <result column="proUrl" property="proUrl" />
        <result column="productId" property="productId" />
    </resultMap>
    
    <!--<resultMap id="proUrlMap" type="com.qfedu.babyfood.entity.TProductimage">-->
        <!--<collection property="proUrl" javaType="java.util.ArrayList"-->
                    <!--ofType="com.qfedu.babyfood.vo.VProduct"  resultMap="com.qfedu.babyfood.dao.TProductMapper.productMap1">-->
        <!--</collection>-->
    <!--</resultMap>-->

</mapper>
