<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qfedu.babyfood.dao.TQuestionMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.qfedu.babyfood.entity.TQuestion">
        <id column="questionId" property="questionId" />
        <result column="questtion" property="questtion" />
        <result column="answerId" property="answerId" />
        <result column="typeId" property="typeId" />
        <result column="userId" property="userId" />
        <result column="createTime" property="createTime" />
        <result column="productId" property="productId" />
    </resultMap>

    <select id="queryAllByTypeName" resultType="com.qfedu.babyfood.vo.VQuestion">
        select q.questtion,a.answer,u.userName from t_question q
        inner join t_answer a
        on q.answerId=a.answerId
        inner join t_user u
        on q.userId=u.userId
        inner join t_type t
        on q.typeId=t.typeId
        where t.typeName=#{name}
    </select>

    <insert id="add" parameterType="map">
        insert into t_question values(null, #{questtion}, null, #{typeId}, 1, #{createTime}, null)
    </insert>

</mapper>
