<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qfedu.babyfood.dao.TUserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.qfedu.babyfood.entity.TUser">
        <id column="userId" property="userId" />
        <result column="userName" property="userName" />
        <result column="password" property="password" />
        <result column="realName" property="realName" />
        <result column="address" property="address" />
        <result column="phone" property="phone" />
        <result column="email" property="email" />
        <result column="status" property="status" />
        <result column="babyId" property="babyId" />
        <result column="cityId" property="cityId" />
        <result column="integralId" property="integralId" />
        <result column="role" property="role" />
        <result column="image" property="image" />
        <result column="flagTime" property="flagTime" />
    </resultMap>

    <select id="selectByUserId" parameterType="int" resultMap="BaseResultMap">
          select * from t_user where userId = #{userId}
    </select>

    <select id="selectByemail" parameterType="string" resultMap="BaseResultMap">
          select * from t_user where email=#{email}
    </select>
    <insert id="insertIntegral" parameterType="com.qfedu.babyfood.entity.TDetailintegral">

        insert into t_detailintegral values
        <trim prefix="values(" suffix=") " suffixOverrides=",">
            <if test="image != null">
                image,
            </if>
            <if test="source != null">
                source,
            </if>
            <if test="status != null">
                status,
            </if>
            <if test="num != null">
                num,
            </if>
            <if test="createTime != null">
                createTime,
            </if>
            <if test="remark != null">
                remark,
            </if>
            <if test="integralId != null">
                integralId,
            </if>
        </trim>
    </insert>

</mapper>
