<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qfedu.babyfood.dao.TUserGiftMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.qfedu.babyfood.entity.TUserGift">
        <id column="user_giftId" property="userGiftid" />
        <result column="giftId" property="giftId" />
        <result column="userId" property="userId" />
            <result column="createTime" property="createTime" />
    </resultMap>

    <insert id="inertUserGift" parameterType="com.qfedu.babyfood.entity.TUserGift">
        insert into t_user_gift(giftId, userId ,createTime)
        values(#{giftId}, #{userId}, #{createTime})
    </insert>
</mapper>
